<h2>Page Admin</h2>
<form>
    <legend style="margin-left:50px;font-style: italic;">Insert a voyage data</legend><br>
    <label>Voyage ID</label>
    <input type="text" name="id" /><br><br>
    <label>Voyage Destination</label>
    <input type="text" name="destination" /><br><br>
    <label>Voyage Price</label>
    <input type="text" name="price" /><br><br>
    <label>Promo?</label>
    <input type="text" name="promo" placeholder="Yes/No" /><br><br>
    <label>Insert image Source</label>
    <input type="text" name="source" />

</form>